* {
    font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	box-sizing: border-box;
	margin: 0;
	color: white;
}

/* 17242f #63c3d1 * et blanc */

/* Placement container + style */
body {
	background-color: #17242f;
}

.main-container {
	width: 90%;
	display: flex;
	margin: 50px auto;
}

header {
	width: 25%;
	padding: 10px;
	min-width: 200px;
	background-color: #63c3d1;
}

main {
	margin: 0 15px 0 15px;
	width: 75%;
	padding: 10px;
}

footer {
	width: 5%;
	min-width: 50px;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

aside {
	background-color: white;
	margin-top: 10px;
}

aside h2 {
	color: #17242f ;
	padding: 5px 0 0 5px;
	margin: 0;
}

aside h3 {
	color: #17242f ;
	padding: 5px 0 0 5px;
	margin: 0;
}

aside p {
	color: #63c3d1;
}

.side-contain {
	padding: 10px;
	margin-top: 5px;
}

.section-suivante { /*Pour séparer les parties de l'interview*/
	margin-top: 30px;
}

/*Style des balises*/

header ul {
	padding: 0;
	list-style-type: none;
}

header nav ul li{
	margin: 10px 0 10px 0;
}

header nav ul li a{
	font-size: 20px;
}

header h1 {
	margin-top: 40px;
	font-size: 30px;
}

.picture {
	display: block;
	margin: 25px auto;
	width: 180px;
	border-radius: 100%;
}

.entreprise {
	width: 250px;
	border-radius: 0;
}

a {
	text-decoration: none;
}

.fa {
	font-size: 60px;
	color: #17242f;
	margin: 10px 0 10px 0;
}

h2 {
	font-size: 20px;
	margin: 0px 0 20px 0;
}

h3 {
	margin: 10px 0 10px 10px;
}

p {
	line-height: 25px;
}
